PORT=5000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=galerio
DB_SSL=false

JWT_SECRET=guclu_ve_rastgele_bir_secret_girin
CLIENT_URL=*

REDIS_URL=redis://127.0.0.1:6379
REDIS_CACHE_TTL=60

RABBITMQ_URL=amqp://kullanici:sifre@127.0.0.1:5672

ADMIN_EMAIL=admin@sirketiniz.com
ADMIN_PASSWORD=guclu_bir_sifre_girin
ADMIN_NAME=Galeri Admin
